* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;

}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  display: flex;
  padding: 50px;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}

.container {
  width: 100%;
}